<?xml version="1.0"?>
<config>
    <modules>
        <Sankhalainfo_Manufacturerlogo>
            <version>0.1.0</version>
        </Sankhalainfo_Manufacturerlogo>
    </modules>
    <frontend>
        <routers>
            <manufacturerlogo>
                <use>standard</use>
                <args>
                    <module>Sankhalainfo_Manufacturerlogo</module>
                    <frontName>manufacturerlogo</frontName>
                </args>
            </manufacturerlogo>
        </routers>
        <layout>
            <updates>
                <manufacturerlogo>
                    <file>manufacturerlogo.xml</file>
                </manufacturerlogo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<manufacturerlogo>
				<use>admin</use>
				<args>
					<module>Sankhalainfo_Manufacturerlogo</module>
					<frontName>manufacturerlogo</frontName>
				</args>
			</manufacturerlogo>
        </routers>
    </admin>
    <adminhtml>		
		<menu>
			<banner module="banner">
				<title>MNB Uniform</title>
				<sort_order>72</sort_order>               
				<children>
					<manufacturerlogo module="manufacturerlogo">
						<title>Manage Manufacturer Logo</title>
						<sort_order>2</sort_order>
						<action>manufacturerlogo/adminhtml_manufacturerlogo</action>
					</manufacturerlogo>
				</children>
			</banner>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Sankhalainfo_Manufacturerlogo>
							<title>Manufacturerlogo Module</title>
							<sort_order>10</sort_order>
						</Sankhalainfo_Manufacturerlogo>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<manufacturerlogo>
					<file>manufacturerlogo.xml</file>
				</manufacturerlogo>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <manufacturerlogo>
                <class>Sankhalainfo_Manufacturerlogo_Model</class>
                <resourceModel>manufacturerlogo_mysql4</resourceModel>
            </manufacturerlogo>
            <manufacturerlogo_mysql4>
                <class>Sankhalainfo_Manufacturerlogo_Model_Mysql4</class>
                <entities>
                    <manufacturerlogo>
                        <table>manufacturerlogo</table>
                    </manufacturerlogo>
                </entities>
            </manufacturerlogo_mysql4>
        </models>
        <resources>
            <manufacturerlogo_setup>
                <setup>
                    <module>Sankhalainfo_Manufacturerlogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </manufacturerlogo_setup>
            <manufacturerlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </manufacturerlogo_write>
            <manufacturerlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </manufacturerlogo_read>
        </resources>
        <blocks>
            <manufacturerlogo>
                <class>Sankhalainfo_Manufacturerlogo_Block</class>
            </manufacturerlogo>
        </blocks>
        <helpers>
            <manufacturerlogo>
                <class>Sankhalainfo_Manufacturerlogo_Helper</class>
            </manufacturerlogo>
        </helpers>
    </global>
</config>